.shoutout
  height: 80px
  margin: 10px
  background-color: #EEE

  .avatar
    margin: 5px
    height: 40px
    width: 40px
    float: left
    background-color: #FFF

  p
    float: left
    width: 70%

    .name
      margin: 5px
      display: block
      font-weight: bold

    .content
      display: block
      margin: 5px
