extends master

block content
  .hero-unit
    h1 Shout-out
    p An application for er... shouting out

  .row
    .span4
      label Name
      input(type='text', name='name')
    .span4
      label Shout-out
      input(type='text', name='shoutout')
    .span4
      input.btn-success.btn-large#submit(type='submit', value='submit')

  #shoutouts.row
    each item in items
      include shoutout
